{% extends 'core/base.html' %}
{% load static %}
{% block title%} Policies|{% endblock %}

{% block content %}
<div class="container" style="color:black;">
    <div class="row">
        <div class="col-12 my-4">
            <div class="card profile__edit__card m-auto" style="color:black;">
                <div class="card-header">
                    <h3 class="m-0" style="color: #5f5f5f;">{{tag_line}}</h3>
                </div>
                {% for policy in policies %}
                <div class="card-body offset-md-2" style="color:black;">
                    <h3 style="font-weight:bold; color:blue;" class="my-4">Our Terms & Conditions</h3>
                    <p>{{policy.terms}}</p>
                    <h3 style="font-weight:bold; color:blue;" class="my-4">Privacy Policy</h3>
                    <p>{{policy.privacy_policy}}</p>
                    <h3 style="font-weight:bold; color:blue;" class="my-4">Coockies Policy</h3>
                    <p>{{policy.cookies_policy}}</p>
                    <h3 style="font-weight:bold; color:blue;" class="my-4">Ads Info</h3>
                    <p>{{policy.ads_info}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock content %}



