{% load static %}
<footer class="main-footer">
    {% for d in desk_details %}
    <div class="container">
        <div class="row" style="font-weight:bold;">
            <div class="col-md-4" style="font-weight:bold;">
                <div class="logo">
                    <h1 class="my-4" style="text-transform:uppercase">Find Us</h1>
                    <h5 class="text-secondary" style="text-transform:uppercase;">{{custom|first}}</h5>
                </div>
                <div class="contact-details text-secondary">
                    <p>{{d.street_address}}<br>{{d.physical_location}}</p>
                    <p>Phone: {{d.tel}}</p>
                    <p>Email: <a href="mailto:{{d.email}}">{{d.email}}</a></p>
                    <ul class="social-menu" style="font-weight:bold;color:blue;">
                        <h1 class="my-4" style="text-transform:uppercase"></h1>
                        <li class="list-inline-item"><a href="{{d.facebook}}"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="{{d.tweeter}}"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="{{d.instagram}}"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="{{d.youtube}}"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="{{d.tiktok}}"><i class="fab fa-tiktok"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="{{d.linkedin}}"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="{{d.other}}"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menus d-flex">
                    <ul class="list-unstyled" style="font-weight:bold;">
                        <h1 class="my-4" style="text-transform:uppercase">More Links</h1>
                        <li><a href="{% url 'signin_view' %}">My Account</a></li>
                        <li><a href="#">Add Listing</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Privacy &amp; Policy</a></li>
                    </ul>
                    <ul class="list-unstyled" style="font-weight:bold;">
                        <h1 class="my-3" style="text-transform:uppercase">Quick Links</h1>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h3><b>Featured Posts</b></h3>
                {% for pf in fposts %}
                <div class="latest-posts" style="font-weight:bold;">
                    <a href="{{pf.get_absolute_url}}">
                        <div class="post d-flex align-items-center">
                            <div class="image"><img src="{{ pf.image.url }}" alt="..." width="20%">
                                <h6 class="date last-meta">{{pf.title}}</h6>
                                <h6 class="date last-meta">{{pf.created_on|timesince}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p><b>&copy; {{d.rights_year|date:"Y"}}. All rights reserved.
                        <marquee behavior="blink" direction="right">
                            <span style="color:orange;">MADE</span><span style="color:green;"> WITH</span> 💖 <span
                                style="color:blue;"> BY</span> <span style="color:gold;"> TDB.Soft</span>.
                        </marquee>
                    </b></p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Template By <a href="https://github.com/titusowuor30/arenadreamblog.git" class="text-white"><b>TDB.Soft</b></a>
                        <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</footer>